<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Connection Strings -->
  <connectionStrings>
    <add name="DefaultConnection" 
         connectionString="Server=localhost;Database=test;Integrated Security=false;User ID=tester;Password=121@abc!;TrustServerCertificate=true;" />
  </connectionStrings>
  
  <!-- Application Settings -->
  <appSettings>
    <!-- Database Configuration -->
    <add key="DatabaseSettings:DataSchema" value="ref" />
    <add key="DatabaseSettings:BackupSchema" value="bkp" />
    <add key="DatabaseSettings:PostloadStoredProcedure" value="sp_ref_postload" />
    <add key="DatabaseSettings:Database" value="test" />
    <add key="DatabaseSettings:StaffDatabase" value="StaffDatabase" />
    
    <!-- Legacy Database Settings -->
    <add key="DB_HOST" value="localhost" />
    <add key="DB_NAME" value="test" />
    <add key="DB_USER" value="tester" />
    <add key="DB_PASSWORD" value="121@abc!" />
    <add key="STAFF_DATABASE" value="StaffDatabase" />
    <add key="DB_DRIVER" value="SqlServer" />
    
    <!-- Schema Settings -->
    <add key="DATA_SCHEMA" value="ref" />
    <add key="BACKUP_SCHEMA" value="bkp" />
    <add key="VALIDATION_SP_SCHEMA" value="ref" />
    
    <!-- Connection Pool Settings -->
    <add key="DB_POOL_SIZE" value="5" />
    <add key="DB_MAX_RETRIES" value="3" />
    <add key="DB_RETRY_BACKOFF" value="0.5" />
    
    <!-- File Handling -->
    <add key="TEMP_LOCATION" value="./temp" />
    <add key="ARCHIVE_LOCATION" value="./archive" />
    <add key="FORMAT_LOCATION" value="./format" />
    <add key="MAX_UPLOAD_SIZE" value="20971520" />
    
    <!-- Data Ingestion Settings -->
    <add key="INGEST_PROGRESS_INTERVAL" value="5" />
    <add key="INGEST_TYPE_INFERENCE" value="false" />
    <add key="INGEST_TYPE_SAMPLE_ROWS" value="5000" />
    <add key="INGEST_DATE_THRESHOLD" value="0.8" />
    <add key="INGEST_BATCH_SIZE" value="500" />
    <add key="INGEST_CHUNK_SIZE" value="0" />
    <add key="INGEST_DRY_RUN" value="false" />
    <add key="INGEST_STREAM_COMMIT_ROWS" value="50000" />
    <add key="DEMO_SLOW_PROGRESS" value="false" />
    
    <!-- Logging Settings -->
    <add key="LOG_TIMEZONE" value="America/Toronto" />
    <add key="LOG_LEVEL" value="Information" />
    
    <!-- Server Settings -->
    <add key="SERVER_HOST" value="localhost" />
    <add key="HTTP_PORT" value="8000" />
    <add key="HTTPS_PORT" value="8001" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime targetFramework="4.0" maxRequestLength="20480" />
  </system.web>

  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>